{% extends 'index.html' %}
{% block title %}
        Home
{% endblock %}
{% block content %}
        <h1>Hello, User!</h1>
        <p>To start using the CDU Global Surveillance system one has to go through registration process.
                After signing up with the system, admin would take a time to look at your request and approve it before you
                would be able to start using the system.</p>
        <p class="text-center"><a class="btn btn-lg" style="background-color: #800000; color: white" href="/users/register"
                                  role="button">Get Started &raquo;</a></p>
{% endblock %}